body {
  font-family: 4px sans-serif;
  color: #ffffff;
  padding: 20px;
  background-image: url("assets/img/pics.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  object-position: center;
  font-size: 20px;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

#description {
  text-align: center;
  font-style: italic;
  font-size: 1.5em;
  margin-bottom: 20px;
}

#survey-form {
  max-width: 1000px;
  margin: 0 auto;
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  border: 3px solid white;
  backdrop-filter: blur(10px);
}

label {
  display: block;
  margin-bottom: 10px;
}

.info {
  outline: none;
}

input,
select,
textarea {
  display: block;
  width: calc(100% - 10px);
  font-size: 0.9em;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

input[type="radio"],
input[type="checkbox"] {
  display: unset;
  width: unset;
  vertical-align: middle;
  margin-right: 5px;
}

#cap {
  display: block;
  margin: 0 0 10px 0;
  font-size: 1.3rem;
  padding-bottom: 5px;
}

#submit {
  margin-top: 20px;
  width: 100%;
  background: #0ea70e;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: larger;
}

#submit:hover {
  background: #18e418;
}
